.main{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    background-color: gainsboro;
}
.page-title{
    text-align: center;
}
.questestion-info{
    text-align: center;
    margin-top: 20px;
}
.question-content{
    margin-left: 20px;

}

.comment{
    margin-left: 20px;
}

.comment-list li{
    list-style: none;
    border-bottom: 1px solid white;
    padding-top: 0;
}

.user-info{
    font-size: 16px;
}

.user-info .username{
    line-height: 40px;

}

.user-info .time{
    float: right;
    margin-right: 20px;
}

.comment-content{
    margin-left: 40px;
}
