

ul.question-list-group{
    list-style: none;
    border-bottom: 1px solid #3a3a3a;
    background-color: white;
    overflow: hidden;
    padding: 15px 0;

}
.jumbotron{
    background-color: white;
    border-bottom: 1px solid #3a3a3a;
}

.main{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.question-group{
    width: 660px;
    margin: 0 auto;
}

.question-tital a{
    color: #259;
    font-weight: 900;
}


.question-info {
    text-align: right;
}

.question-info .question-author{
    margin-right: 20px;
}
